AddHandler php5-script .php

<FilesMatch "\.(gif|css)$">
Header set Expires "15 Apr 2022 20:00:00 GMT"
Header unset ETag
FileETag None
</FilesMatch>

RewriteEngine on

RewriteRule ajax.php(.+)? ajax.php$1 [L]
RewriteRule presentation/style.css(.+)? presentation/style.css$1 [L]

RewriteRule stats.php(.+)? index.php$1 [L]
RewriteRule poll.php(.+)? index.php$1 [L]
RewriteRule allquestions.php(.+)? index.php$1 [L]

RewriteRule ^([^\.]+)?$ index.php [L]

ErrorDocument 404 /404

