AddHandler php5-script .php

AuthType None

<FilesMatch "\.(js|css|xml|gz)$">
  Header append Vary: Accept-Encoding
</FilesMatch>

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [NC,QSA,L]

ErrorDocument 404 /404

